BEGIN TRANSACTION;

CREATE TABLE YOUTUBE(
    AUTHOR    TEXT,
    CHANNEL   TEXT,
    ID        TEXT,
    TIMESTAMP INTEGER,
    COUNT     INTEGER
);

CREATE TABLE SVN(
    REVISION  INTEGER,
    AUTHOR    TEXT,
    MESSAGE   TEXT
);

CREATE TABLE STYLE   (CONTENT TEXT);
CREATE TABLE KILLED  (CONTENT TEXT);
CREATE TABLE OBJECT  (CONTENT TEXT);
CREATE TABLE SUICIDE (CONTENT TEXT);

CREATE TABLE QUOTES  (NAME TEXT,CONTENT TEXT);
CREATE TABLE FAMILY  (NAME TEXT,CONTENT TEXT);

CREATE TABLE REQUESTS(
    NAME  TEXT,
    COUNT INTEGER
);

INSERT INTO REQUESTS VALUES('QUOTES',  0);
INSERT INTO REQUESTS VALUES('FAMILY',  0);
INSERT INTO REQUESTS VALUES('FAQ',     0);
INSERT INTO REQUESTS VALUES('KITTENS', 0);
INSERT INTO REQUESTS VALUES('TWSS',    0);
INSERT INTO REQUESTS VALUES('OBIT',    0);

CREATE TABLE FAQ(
    NAME    TEXT,
    AUTHOR  TEXT
    CONTENT TEXT
);

CREATE TABLE FNORD(
    ID   INTEGER PRIMARY KEY AUTOINCREMENT,
    TYPE VARCHAR(32),
    WORD TEXT
);

COMMIT;
