BEGIN TRANSACTION;

CREATE TABLE USERS(
    SALT     TEXT,
    USERNAME TEXT,
    PASSWORD TEXT
);

INSERT INTO USERS VALUES(
    '1337',
    'admin',
    '43352586c6c99f3ed60683afd6b718392171804e'
);

COMMIT;
