; Standard ini file with ; or # denoting comments

[freenode1]                   ; Instance name
    nick     = nickname       ; Nickname for this instance
    host     = irc.server.net ; IRC host address
    port     = 6667           ; IRC host port
    auth     = somepassword   ; ChanServ password
    pattern  = ~              ; The pattern the bot uses to interpret a command
    channels = #channel       ; Comma seperated channels
    modules  = *              ; Comma seperate modules to load or * for all
    database = database.db    ; The database the bot should use for this instance

; You can have multiple instances too, e.g
; [anynameyouwant]
;   nick    = nickname
;   host    = irc.anynameyouwant.org
;   ...

