body {
    margin: 0 25%;
    width: 50%;
    min-height: 100%;
}

html {
    height: 100%;
}

#titlearea {
    border-bottom: none;
    background-color: #FFF;
    color: #A2A2A2;
    display: none;
}

div.header {
    clear: both;
    display: none;
}

hr.footer {
    clear: both;
    display: none;
}

address.footer {
    clear: both;
    display: none;
}

#navrow1 {
    display: none;
}

#MSearchBox {
    margin: 0.5% 25%;
}
